<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363776340600-rjp6d8higd6m2fj97o8b2lcv781hs344.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363776340600-rjp6d8higd6m2fj97o8b2lcv781hs344</string>
	<key>API_KEY</key>
	<string>AIzaSyCylp2hjQBXTH_xKqXH-Cdf1_anwWPpvGs</string>
	<key>GCM_SENDER_ID</key>
	<string>363776340600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WonGi.LoA-To-Do-Refactoring</string>
	<key>PROJECT_ID</key>
	<string>loa-to-do-refactoring</string>
	<key>STORAGE_BUCKET</key>
	<string>loa-to-do-refactoring.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363776340600:ios:dd40d1ea8d74296671b38d</string>
</dict>
</plist>